<!--<h1>Welcome!</h1>-->
<h3>年会简介</h3>
<p>
    为了进一步落实平方公里阵列射电望远镜项目（SKA，国际大科学工程）的实施，充分发挥SKA先导项目500米口径球面射电望远镜（FAST）的引领作用， 加强射电天文和大数据、高性能计算、以及人工智能的深度融合，
    探讨科学大数据处理在国家“十三五”科技创新和上海市科技创新“十三五”规划的发展，SKA科学数据处理中方联盟定于<b>2018年9月20日至2018年9月22日</b>
    在<b>贵州克度</b>召开举办“第三届 SKA 科学数据处理学术年会”。本届学术年会由上海交通大学、贵州射电天文台、中科院上海高等研究院、贵州师范大学、国家天文台、浪潮集团和复旦大学共同承办，
    邀请天文数据处理、高性能计算、人工智能等领域的专家，共同探讨和推进SKA科学数据处理相关的研究工作。<br><br>

    SKA望远镜全称为“平方公里阵列望远镜”，是人类迄今为止计划建造的最宏伟的天文观测设备。由3000个碟状天线组成，每个天线直径15米，接收器面积合计达1平方公里。
    这些装置将分布在多个地区，它们的探测结果可以汇总起来获得观测图像。SKA是一项大型国际科研合作项目，参与国有澳大利亚、加拿大、意大利、新西兰、荷兰、南非、英国、中国等20个国家。
    SKA汇集了天文学、无线电、信息、通讯、计算机、机械制造等领域的最新科技成果。其中，中方主要承担SKA科学数据处理方面的工作。<br><br>

    SKA科学数据处理学术年会具有良好的传统。始于2016年，第一届年会在河南郑州首度召开；2017年移师上海，年会承前启后，继往开来，为联盟奋勇前行、更进一步起到了重要作用。
    本届年会将于贵州召开，贵州也拥有全世界最大的天文望远镜“天眼”，是中国天文工作者的圣地，SKA与“天眼”虽然发展方向不同，但目标和对天文的执着却殊途同归。
    期待SKA年会在贵州这片天文的热土上爆发出新的绚丽色彩。

</p>
<!--<h4>Special Activity</h4>
<p>
    ISCO is dedicated to the 70th birthday of Dingzhu Du, who is a professor at Department of Computer Science,
    University of Texas at Dallas, and the founding editor-in-Chief of Journal of Combinatorial Optimization published by Springer.
</p>-->
<!--<h4>Important Dates</h4>
<ul>
    <li>Abstract Submission: May 13, 2018</li>
    <li>Acceptance Notification: May 31, 2018</li>
    <li>Early Registration: June 10, 2018</li>
    <li>On-Site Registration: July 13, 2018</li>
    <li>Symposium Day: July 14-15, 2018</li>
</ul>-->

<h3>会议邀请函</h3>
<a href="file/第三届SKA科学数据处理年会邀请函.pdf">会议邀请函</a> 下载。

<h3>联系我们</h3>
<p>如需咨询请发送邮件至：
    <a href="mailto:ska2018.chairs@gmail.com">ska2018.chairs@gmail.com</a>。
</p>

<div class="row">
    <div class="col-md-12">
        <h3>SKA 最新资讯</h3>
        <ul>
<!--            <li><b>06/20/2018</b>: <a target="_blank" href="program.html">Program page</a> is open!</li>
            <li><b>05/27/2018</b>: The accommodation fee have reduced to ¥500 per night.</li>
            <li><b>05/04/2018</b>: <a target="_blank" href="attendanceList.html">Attendance List page</a> is available!</li>-->
            <li><b>2018年8月13日</b>：<a target="_blank" href="program.html">会议日程页面</a> 上线！</li>
            <li><b>2018年8月11日</b>：<a target="_blank" href="past.html">往届会议页面</a> 上线！</li>
            <li><b>2018年8月11日</b>：<a target="_blank" href="venue.html">会议地点页面</a> 上线！</li>
            <li><b>2018年8月10日</b>：<a target="_blank" href="/SKA2018">SKA2018 首页</a> 上线！</li>
        </ul>
    </div>
</div>
