<!--<h1>Welcome!</h1>-->
<h3>年会简介</h3>
<p>为了进一步落实平方公里阵列射电望远镜项目（SKA，国际大科学工程）的实施，加强射电天文和大数据、高性能计算以及人工智能的深度融合，探讨科学大数据处理在国家“十三五”科技创新和上海市科技创新“十三五”规划的发展，特举办“第三届 SKA 科学数据处理学术年会”。</p>
<!--<h4>Special Activity</h4>
<p>
    ISCO is dedicated to the 70th birthday of Dingzhu Du, who is a professor at Department of Computer Science,
    University of Texas at Dallas, and the founding editor-in-Chief of Journal of Combinatorial Optimization published by Springer.
</p>-->
<!--<h4>Important Dates</h4>
<ul>
    <li>Abstract Submission: May 13, 2018</li>
    <li>Acceptance Notification: May 31, 2018</li>
    <li>Early Registration: June 10, 2018</li>
    <li>On-Site Registration: July 13, 2018</li>
    <li>Symposium Day: July 14-15, 2018</li>
</ul>-->

<h3>联系我们</h3>
<p>如需咨询请发送邮件至：
    <a href="mailto:ska2018.chairs@gmail.com">ska2018.chairs@gmail.com</a>。
</p>

<div class="row">
    <div class="col-md-12">
        <h3>SKA 最新资讯</h3>
        <ul>
<!--            <li><b>06/20/2018</b>: <a target="_blank" href="program.html">Program page</a> is open!</li>
            <li><b>05/27/2018</b>: The accommodation fee have reduced to ¥500 per night.</li>
            <li><b>05/04/2018</b>: <a target="_blank" href="attendanceList.html">Attendance List page</a> is available!</li>-->
            <li><b>2018年8月11日</b>：<a target="_blank" href="past.html">往届会议页面</a> 上线！</li>
            <li><b>2018年8月11日</b>：<a target="_blank" href="venue.html">会议地点页面</a> 上线！</li>
            <li><b>2018年8月10日</b>：<a target="_blank" href="/SKA2018">SKA2018 首页</a> 上线！</li>
        </ul>
    </div>
</div>
