<h2>往届会议</h2>
<h4>第一届中国SKA科学数据处理学术年会</h4>
<ul>
    <li>河南·郑州·郑州轻工业大学</li>
    <li>相关链接：<a href="http://www.zzuli.edu.cn/s/12/t/403/7e/56/info163414.htm">第一届中国SKA科学数据处理学术年会在我校召开</a></li>
</ul>

<h4>第二届中国SKA科学数据处理学术年会</h4>
<ul>
    <li>上海·复旦大学</li>
    <li>相关链接：<a href="http://www.cs.fudan.edu.cn/?p=22733">第二届中国SKA科学数据处理学术年会在复旦大学召开</a></li>
</ul>