<style>
    table td {
        vertical-align: middle !important;
    }

    table thead tr {
        background-color: #DAEEF3;
    }

    table thead th {
        padding: 12px 0 !important;
        text-align: center;
        font-size: 16px;
    }

    .grey-tr {
        background-color: #F2F2F2;
    }

    .left-td {
        text-align: left;
    }

    .grey-border {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
</style>
<!--<div class="row">
    <div class="col-md-12">
        <h2>Conference Program <small><a href="file/program.pdf">Detailed Booklet <img src="img/pdf.png" width="20px"></a></small></h2>
    </div>
</div>-->
<div class="row">
    <div class="col-md-12">
        <h2>会议日程</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table table-bordered table-condensed text-center">
            <thead>
            <tr>
                <th width="15%">日期</th>
                <th width="15%">时间</th>
                <th width="50%">内容</th>
                <th>地点</th>
            </tr>
            </thead>
            <tbody>
            <!--Day 1-->
            <tr class="grey-border">
               <td>9月20日</td>
                <td>14:00-21:00</td>
                <td>现场注册</td>
                <td>星辰天缘大酒店大堂</td>
            </tr>
            <!--Day 2-->
            <tr>
                <td rowspan="7">9月21日</td>
                <td>8:30-9:00</td>
                <td>
                    <b>开幕式致辞</b><br>
                    1.  彭勃（国家天文台/贵州射电天文台）<br>
                    2.  石磊（贵州省科技厅对外合作处处长）<br>
                    3.  斯雪明（SKA-SDP中方联盟负责人）<br>
                    <b>合影</b>
                </td>
                <td rowspan="4">星辰天缘大酒店福缘厅</td>
            </tr>
            <tr>
                <td>9:00-10:40</td>
                <td>
                    <b>
                    Session 1 （报告议题领域：FAST/SKA射电天文进展）<br>20min报告+5min讨论</b><br>
                    1.  禹升华（国家天文台/贵州射电天文台）<br>
                    2.  岳友岭（国家天文台/贵州射电天文台）<br>
                    3.  支启军（贵州师范大学物理学院）<br>
                    4.	张云立（贵州大学天文系）

                </td>
            </tr>
            <tr>
                <td>10:40-11:00</td>
                <td>茶歇</td>
            </tr>
            <tr>
                <td>11:00-12:15</td>
                <td>
                    <b>
                        Session 2（报告议题领域：高性能计算与天文学应用）</b><br>
1.	GOOGLE （SKY项目组）<br>
2.	崔辰州（国家天文台）<br>
3.	浪潮集团

                </td>
            </tr>
            <tr>
                <td>12:15-13:15</td>
                <td>午餐</td>
                <td>星辰天缘大酒店餐厅</td>
            </tr>
            <tr>
                <td>14:00-17:00</td>
                <td>参观FAST射电望远镜</td>
                <td>贵州省平塘县克度镇</td>
            </tr>
            <tr class="grey-border">
                <td>18:00-20:00</td>
                <td>晚餐</td>
                <td>待定</td>
            </tr>
            <!--Day 3-->
            <tr>
                <td rowspan="4">9月22日</td>
                <td>8:30-9:45</td>
                <td>
                    <b>
                        Session 3（报告议题领域：数据处理基础设施）</b><br>
1.	张云泉（科学院计算所）<br>
2.	刘鑫（国家并行中心）<br>
3.	U-CLOUD

                </td>
                <td rowspan="3">星辰天缘大酒店福缘厅</td>
            </tr>
            <tr>
                <td>9:45-10:05</td>
                <td>茶歇</td>
            </tr>
            <tr>
                <td>10:05-12:35</td>
                <td>
                    <b>
                        Session 4（报告议题领域：SDP联盟工作进展）</b><br>
1.	祝永新（上海交通大学/中科院上海高等研究院）<br>
2.	陈学雷（国家天文台）<br>
3.	王锋（广州大学/云南天文台）<br>
4.	池明旻（复旦大学）<br>
5.	李秋虹（复旦大学）<br>
6.	高晓沨（上海交通大学）

                </td>
            </tr>
            <tr>
                <td>12:35-13:35</td>
                <td>午餐</td>
                <td>星辰天缘大酒店餐厅</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

