<style>
    table td {
        vertical-align: middle !important;
    }

    table thead tr {
        background-color: #DAEEF3;
    }

    table thead th {
        padding: 12px 0 !important;
        text-align: center;
        font-size: 16px;
    }

    .grey-tr {
        background-color: #F2F2F2;
    }

    .left-td {
        text-align: left;
    }

    .grey-border {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }

    .color-people {
        color: #005795;
    }
</style>
<!--<div class="row">
    <div class="col-md-12">
        <h2>Conference Program <small><a href="file/program.pdf">Detailed Booklet <img src="img/pdf.png" width="20px"></a></small></h2>
    </div>
</div>-->
<div class="row">
    <div class="col-md-12">
        <h2>会议日程</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table table-bordered table-condensed text-center">
            <thead>
            <tr>
                <th width="15%">日期</th>
                <th width="15%">时间</th>
                <th width="50%">内容</th>
                <th>地点</th>
            </tr>
            </thead>
            <tbody>
            <!--Day 1-->
            <tr class="grey-border">
               <td>9月20日</td>
                <td>14:00-21:00</td>
                <td>现场注册</td>
                <td>星辰天缘大酒店 <br>大堂</td>
            </tr>
            <!--Day 2-->
            <tr>
                <td rowspan="9">9月21日</td>
                <td>8:30-9:00</td>
                <td style="text-align: left">
                    <b>开幕式致辞 <span class="color-people">（主持：骆源）</span></b><br>
                    1. 彭勃（国家天文台/贵州射电天文台）<br>
                    2. 石磊（贵州省科技厅对外合作处处长）<br>
                    3. 斯雪明（SKA-SDP中方联盟负责人）<br>
                    <b>合影</b>
                </td>
                <td rowspan="4">星辰天缘大酒店 <br>福缘厅</td>
            </tr>
            <tr>
                <td>9:00-10:20</td>
                <td style="text-align: left">
                    <b>
                    Session 1 （FAST/SKA射电天文进展）<br><span class="color-people">主持：祝永新</span> 15min报告+5min讨论</b><br>
                    1. 禹升华（国家天文台/贵州射电天文台）<br>
                    2. 岳友岭（国家天文台/贵州射电天文台）<br>
                    3. 于雷（国家天文台/贵州射电天文台）<br>
                    4. 潘之辰（国家天文台/贵州射电天文台）

                </td>
            </tr>
            <tr>
                <td>10:20-10:35</td>
                <td>茶歇</td>
            </tr>
            <tr>
                <td>10:35-11:55</td>
                <td style="text-align: left">
                    <b>
                        Session 2（FAST/SKA基础设施与相关研究）<br><span class="color-people">主持：汪卫/高晓沨</span></b><br>
                    1. 陈学雷（国家天文台）<br>
                    2. 曹锐（38所）<br>
                    3. 支启军（贵州师范大学物理学院）<br>
                    4. 张立云（贵州大学天文系）<br>

                </td>
            </tr>
            <tr>
                <td>12:00-13:30</td>
                <td>午餐</td>
                <td>星辰天缘大酒店</td>
            </tr>
            <tr>
                <td>14:00-15:20</td>
                <td style="text-align: left">
                    <b>
                        Session 3（数据处理基础设施）<br><span class="color-people">主持：池明旻</span></b><br>
                    1. 李长华（国家天文台）<br>
                    2. 霍吉东（国家超级计算济南中心）<br>
                    3. 廖泽贤（阿里云FAST后台系统）<br>
                    4. 赵旭东（浪潮集团）

                </td>
                <td rowspan="3">星辰天缘大酒店 <br>福缘厅</td>
            </tr>
            <tr>
                <td>15:20-15:35</td>
                <td>茶歇</td>
            </tr>
            <tr>
                <td>15:35-17:15</td>
                <td style="text-align: left">
                    <b>
                        Session 4（SDP联盟工作进展）<br><span class="color-people">主持：斯雪明</span></b><br>
                    1. 祝永新（上海交大/中科院上海高等研究院）<br>
                    2. 汪卫（复旦大学）<br>
                    3. 池明旻（复旦大学）<br>
                    4. 尤海航（中科院计算所）<br>
                    5. 马清波（贵州师范大学物理学院）

                </td>
            </tr>
            <tr class="grey-border">
                <td>18:00-20:00</td>
                <td>晚餐（Banquet）</td>
                <td>星辰天缘大酒店 <br>餐厅</td>
            </tr>
            <!--Day 3-->
            <tr>
                <td rowspan="2">9月22日</td>
                <td>8:30-11:30</td>
                <td>参观FAST射电望远镜</td>
                <td>贵州省平塘县</td>
            </tr>
            <tr>
                <td>12:00-13:30</td>
                <td>午餐</td>
                <td>星辰天缘大酒店 <br>餐厅</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

