<h2>会议注册</h2>
<h4>注册费用</h4>
<ul>
    <li>老师：<b>RMB ¥1500</b></li>
    <li>学生：<b>RMB ¥1000</b></li>
</ul>
<h4>支付方式（如需要国内"会议注册费"发票，请选择此汇款方式）</h4>
<table class="table table-bordered">
    <tbody>
    <tr>
        <th width="30%">账户名称</th>
        <td>上海交通大学</td>
    </tr>
    <tr>
        <th>开户银行</th>
        <td>中国银行上海市上海交通大学支行</td>
    </tr>
    <tr>
        <th>银行账号</th>
        <td>439059226890</td>
    </tr>
    </tbody>
</table>
<!--<p>
    注意：<b>汇款备注"SKA2018+参会者姓名"。</b>同时，请将注册表
    （<a href="file/registration_form.docx">registration_form.docx</a>）和汇款凭证扫描为 PDF 文档后，
    将其压缩打包成一个文件（文件名为"ISCO2018_参会者姓名"），发送到
    <a href="mailto:ska2018.chairs@gmail.com">ska2018.chairs@gmail.com</a>，
    邮件主题为"ISCO2018_参会者姓名"。</p>-->
<p>
    注意：<b>汇款备注"SKA2018+参会者姓名"。</b>同时，请将<a href="file/SKA 2018 参会回执.docx">参会回执</a>和汇款凭证扫描为 PDF 文档后，将其压缩打包成一个文件（文件名为"SKA2018_参会者姓名"），发送到
    <a href="mailto:ska2018.chairs@gmail.com">ska2018.chairs@gmail.com</a>， 邮件主题为"SKA2018_参会者姓名"。</p>
<p>如有疑问可邮件联系 <a href="mailto:ska2018.chairs@gmail.com">ska2018.chairs@gmail.com</a></p>