<h2>会议地点</h2>
<h4>星辰天缘大酒店</h4>
<p>
平塘星辰天缘大酒店位于贵州省平塘县克度镇，毗邻天眼景区游客接待中心；距离天文望远镜台址约25车程，距银百高速公路边阳出口约30分钟车程。
这是由国家投资建设的口径500米天文望远镜“FAST”项目的配套高端旅游涉外酒店，集吃、住、娱、会议、购物、商务办公为一体，拥有各类高档房间两百余间，400人宴会厅，并配有高端餐饮包房、行政酒廊、商务中心、商场、大堂吧、美容美发、棋牌娱乐设施。
会议中心有配备同声翻译系统的300人大会议厅和高端智能化会议室7间。聚天眼、天坑、天书—“三天奇观”靓丽风景线，是您旅游、住宿、会议、娱乐的理想场所。
</p>
<div class="row text-center">
    <div class="col-sm-12">
        <img class="img-thumbnail" src="img/hotel_5.jpg" width="30%">
        <img class="img-thumbnail" src="img/hotel_2.jpg" width="30%">
        <img class="img-thumbnail" src="img/hotel_3.jpg" width="30%">
    </div>
</div>
<p><b>地址：</b>中国贵州省黔南布依族苗族自治州平塘县X984，邮政编码: 558300</p>
<p><b>会议联络人：</b>李之尧（17521045429）</p>
<p><b>酒店联络人：</b>张鹏（13861177700）</p>
<p><b>酒店前台：</b>(0854)4830888</p>

<h3>接机服务</h3>
<p>
    由于会议举办地点克度位处山区、路途偏远，自行抵达较困难，会务组将在贵阳站（火车/飞机）提供接机服务。自贵阳至克度车程三个小时左右，现拟定接送机时间如下：<br>
<ul>
    <li>9月20日：下午一点（抵达酒店约下午四点）</li>
    <li>9月20日：下午六点（抵达酒店约晚上九点）</li>
    <li>9月22日：下午一点（抵达贵阳机场/火车站约下午四点）</li>
    <li>9月22日：下午三点（抵达贵阳机场/火车站约晚上六点）</li>
</ul>

请参会人员订票尽量集中在这几个时间段， 同时注意尽量定早上的班机以防飞机晚点错过接送。
会议实际接机时间后续将根据所有参会师生的实际订票抵达离开时间进行调整并通知。如有任何问题请联系会议酒店负责人张鹏（13861177700）。
</p>
<p>注意：参会人员的酒店房间预订及交通信息请填写<a href="file/SKA 2018 参会回执.docx">参会回执</a>并发送到<a href="mailto:ska2018.chairs@gmail.com">ska2018.chairs@gmail.com</a>。
如有任何问题请联系李之尧（17521045429）。
</p>
<h3>会场位置</h3>
<div class="row">
    <div class="col-sm-12">
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d388.9758733409346!2d106.89122678610993!3d25.696654836142386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x36b8935e62391927%3A0x8006695e0a92dc15!2z5bmz5aGY5pif6L6w5aSp57yY5aSn6YWS5bqX!5e0!3m2!1szh-CN!2s!4v1533985965801"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        <iframe src="http://map.baidu.com/?newmap=1&s=inf%26uid%3D512068522b6b44b4223bf200%26wd%3D%E6%98%9F%E8%BE%B0%E5%A4%A9%E7%BC%98%E5%A4%A7%E9%85%92%E5%BA%97%26all%3D1%26c%3D353&from=alamap&tpl=map_singlepoint"
                frameborder="0" width="100%" height="450" style="border:0" allowfullscreen></iframe>
    </div>
</div>


<!--
<h3>交通路线</h3>
<ul>
    <li><b>地铁：</b>乘地铁1号线、9号线、11号线到徐家汇站，从2号口出来沿漕溪北路向南步行300米即到。</li>
    <li><b>公交： </b>乘42路、43路、50路、167路、198路、205路、303路、732路、816路、824路、830路、920路、926路、931路、946路、957路、隧道夜宵一线、徐闵线可以到徐家汇公交站，沿漕溪北路向南步行300米即到。</li>
    <li>
        <b>出租：</b>
        <ul>
            <li>由徐家汇自北向南进入</li>
            <li>由虹桥路自西向东经文定路、南丹路进入</li>
            <li>由天钥桥路自北向南经南丹东路进入</li>
            <li>由沪闵高架自南向北进入</li>
            <li>由内环高架内圈宛平路出口经斜土路由东向西到南丹东路进入</li>
            <li>由内环高架外圈徐家汇出口经漕溪北路进入</li>
        </ul>
    </li>
</ul>-->